#settings-reports(ng-init='loadInfoRep();')
	#show-simple-report(data-ng-show='simpleReport')
		.modal-body
			.row.setRep
				h5 {{ 'parametersHeader' | translate }}
				uib-tabset
					uib-tab(ng-repeat='tab in tabs track by $index',  heading='param_{{$index}}', ng-hint="Test hint" )
						.row
							label.col-md-3.control-label {{ 'database' | translate }}
							label.col-md-5.control-label {{tab.database}}
						.row
							label.col-md-3.control-label {{ 'interface' | translate }}
							label.col-md-5.control-label {{tab.interface}}
						.row
							label.col-md-3.control-label {{ 'name' | translate }}
							label.col-md-5.control-label {{tab.name}}
						.row
							label.col-md-3.control-label {{ 'text' | translate }}
							label.col-md-5.control-label {{tab.text}}
						.row
							label.col-md-3.control-label {{ 'type' | translate }}
							label.col-md-5.control-label {{tab.type}}
						.row
							label.col-md-3.control-label {{ 'value' | translate }}
							div(ng-if="tab.interface == 'true'")
								div(ng-switch="", on="tab.show")
									div(ng-switch-when="Number")
										div(ng-if="tab.query.valquery.length == 0")
											div.col-md-5
												input.form-control(type="number", ng-model="tab.value")
										div(ng-if="tab.query.valquery.length != 0")
											div.col-md-5
												input.form-control(ng-repeat='item in tab.query.valquery[0]', type="number", min="item[tab.query.columnMin]", max="item[tab.query.columnMax]", ng-model="tab.value")
									div(ng-switch-when="Text")
										div.col-md-5
											input.form-control(type="text", ng-model="tab.value")
									div(ng-switch-when="List")
										div.col-md-3
											ol.nya-bs-select(name="idlist{{$index}}", ng-model="tab.value")
												li(nya-bs-option="item in tab.query.valquery[0]", data-value='item[tab.query.columnName]')
													a {{item[tab.query.columnName]}}
									div(ng-switch-default)
										div.col-md-5
											input.form-control(type="text", ng-model="tab.value")
							div(ng-if="tab.interface == 'false'")
								div.col-md-5
									input.form-control(type="text", ng-model="tab.value",disabled)
			.row.text-right.setRepButton
				button.btn.btn-primary(ng-click='save();') {{'Save' | translate}}
				button.btn.btn-danger(ng-click='close();') {{'close' | translate}}

	#show-ext-report(data-ng-show='!simpleReport')
		.row
			.col-md-12
				h5 {{ 'parametersHeader' | translate }}
			.col-md-5
				ol#par-name.nya-bs-select(ng-model="paragraph")
					li(nya-bs-option="par in ( paramData | unique:'paragraph')", data-value="par.paragraph")
						a {{par.paragraph}}
			.col-md-5
				ol#sect-name.nya-bs-select(ng-model='section', data-ng-change="selectSection(3,4);")
					li(nya-bs-option="par in ( paramData | filterBy : ['paragraph']: paragraph )", data-value="par.sectionName")
						a {{par.sectionName}}
		.row.setRep
			.col-md-12
				uib-tabset
					uib-tab(ng-repeat='tab in tabs track by $index',  heading='param_{{$index}}', ng-hint="Test hint" )
						.row
							label.col-md-3.control-label {{ 'database' | translate }}
							label.col-md-5.control-label {{tab.database}}
						.row
							label.col-md-3.control-label {{ 'interface' | translate }}
							label.col-md-5.control-label {{tab.interface}}
						.row
							label.col-md-3.control-label {{ 'name' | translate }}
							label.col-md-5.control-label {{tab.name}}
						.row
							label.col-md-3.control-label {{ 'text' | translate }}
							label.col-md-5.control-label {{tab.text}}
						.row
							label.col-md-3.control-label {{ 'type' | translate }}
							label.col-md-5.control-label {{tab.type}}
						.row
							label.col-md-3.control-label {{ 'value' | translate }}
							div(ng-if="tab.interface == 'true'")
								div(ng-switch="", on="tab.show")
									div(ng-switch-when="Number")
										div(ng-if="tab.query.valquery.length == 0")
											div.col-md-5
												input.form-control(type="number", ng-model="tab.value")
										div(ng-if="tab.query.valquery.length != 0")
											div.col-md-5
												input.form-control(ng-repeat='item in tab.query.valquery[0]', type="number", min="item[tab.query.columnMin]", max="item[tab.query.columnMax]", ng-model="tab.value")
									div(ng-switch-when="Text")
										div.col-md-5
											input.form-control(type="text", ng-model="tab.value")
									div(ng-switch-when="List")
										div.col-md-3
											ol.nya-bs-select(name="idlist{{$index}}", ng-model="tab.value")
												li(nya-bs-option="item in tab.query.valquery[0]", data-value='item[tab.query.columnName]')
													a {{item[tab.query.columnName]}}
									div(ng-switch-default)
										div.col-md-5
											input.form-control(type="text", ng-model="tab.value")
							div(ng-if="tab.interface == 'false'")
								div.col-md-5
									input.form-control(type="text", ng-model="tab.value",disabled)
		.row
			.col-md-12
				.text-right.setRepButton
					button.btn.btn-primary(ng-click='save();') {{'Save' | translate}}
					button.btn.btn-danger(ng-click='close();') {{'close' | translate}}
